# 全体の規約
- 機密ファイル、環境変数、APIキーなどの情報を含むファイルの読み取りやPUSHは禁止
- 勝手なライブラリのアップデートは禁止

## ドメイン用語
- ドメイン用語を使用すること。
- PD: チャットと言う意味。
  - 例：PDする=Chatする、Pd.ts=Chat.ts
- RePd: リプライと言う意味。
  - 例：RePdする=リプライする、RePd.ts=Reply.ts

## 開発環境
- Next.JS App Router
- TypeScript
- Tailwind CSS
- Shadcn UI
- Biome

## デプロイ環境(採用予定)
- Supbase(無料プラン)
- Vercel(無料プラン)

# ディレクトリ構成
- 基本的にはbulletproof-reactのディレクトリ構成に従う
- 関数はヘキサゴナルアーキテクチャを採用。application, domain, infrastructureの3層に分ける

## コーディング規約
- 基本的にはBiomeのルールに従う
- letを使わずconstを使う(厳守)

## テスト
- Vitestを採用
